#center {
    text-align: center;
}

#imgcenter {
    display: block;
    margin: auto;
    width: 50%;
}

#centerofcont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: black;
    background-color: white;
    text-decoration: underline;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.top {
    text-align: left;
}
.bottom {
    position: relative;
}

.container {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.darkmode {
    background-color: black;
    color: whitesmoke;
}

.button-50 {
    transition-duration: 0.4s;
    background-color: black;
    border-color: white;
    color: white;
    padding: 1%;
}

.button-50:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.button-bingo {
    background-color: white;
    width: 10vh;
    height: 10vh;
    min-width: none;
    min-height: none;
    text-align: center;
    transition-duration: 0.4s;
}

#randomized {}

.reset {
    font-size: large;
}

.button-bingo-active {
    background-color: greenyellow;
    width: 10vh;
    height: 10vh;
    text-align: center;
    transition-duration: 0.4s;
}